langChain
python-dotenv
langChain-community
ipykernel
pypdf
bs4
wikipedia
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
openai
chromadb
sentence-transformers
langchain_huggingface
langchain-openai
bs4
fasiss-cpu




